*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
header{
    width: 100%;
    padding: 20px;
    background:  cornflowerblue;
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(255, 21, 21, 0.902);
}
.container{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px, 100px;
}
.perfil {
    background: rgb(255, 255, 255);
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.902);
    padding: 20px;
    text-align: center;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.perfil img{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 10px;
}
.perfil:hover{
 transform: translateY(-50px);
 box-shadow: 0 4px 12px rgb(255, 0, 238);
}
.perfil button,button{
    margin-top: 10px;
    background: rgb(222, 89, 7);
    color: bisque;
    border-radius: 100px;
    border: none;
    padding: 20px;
}
.perfil button:hover{
    transition: transform 1s ease;
transform: rotate(150deg);
}
.contenedor {
  margin: top 360px; ;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  justify-content: center;
}


.imagen-circular {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.derecha {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.parrafos p {
  margin-bottom: 5px;
}

.botones {
  display: flex;
  gap: 10px;
}

.botones button {
  padding: 8px 16px;
  font-size: 16px;
}

.imagenes-inferiores {
  display: flex;
  gap: 10px;
}

.imagenes-inferiores img {
.imagenes-inferiores {
  display: flex;
  gap: 10px;
}
}

.imagenes-inferiores img {
  width: 30px;
  height: 30px;
   border-radius: 50px; 
}
#imagenes-chicas{
    height: 30px; 
    width: 30px;
   
}
.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 90px;
}